@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "compass/css3";
/* HOME PAGE*/

/*My palette
    #9AC4F8 shadow header
    #99EDCC table
    #CB958E header
    pink main color
    #9A275A #E36588 shadow main color
    White background
    black text
*/

.subtitle{
    text-shadow: 4px 4px 5px  #9ac4f8;
    color: #cb958e;
    font-weight: 500;
}
.imagenes{
   width: 200px;
   height: 200px;
   margin: 2%;
   background-color: #00cccc;
}

.subsubtitle{
   padding-top: 5%;
   padding-left: 1%;
   text-shadow: 20px 20px 20px  #9ac4f8;
   color: #cb958e;
   font-style: italic;
   font-weight: 200;
   border-bottom: dotted;
}

#photo{
    background-color: pink;
    padding: 5%;
}
div img{
    display: block;
    width: 80%;
    padding: 5%;

}

img.cover{
    display: block;
    width: 80%;
    border-radius: 70%;
    padding: 5%;
  }

table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid  #99EDCC;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
       0px 10px 20px rgba(0,0,0,0.05),
       0px 20px 20px rgba(0,0,0,0.05),
       0px 30px 20px rgba(0,0,0,0.05);
  }
 #weeks{
    background-color: #00cccc;
    color: whitesmoke;
 }

 /* NEXT PAGES*/

 #banner{
    display: block;
    width: 80%;
    border-radius: 50%;
 }
 .title{
    background-color: pink;
    color: white;
    border-radius: 50% 20% / 10% 40%;
    text-shadow: 4px 4px 5px #E36588;
    padding-left: 2%;
 }

.navPage {
    list-style: none;
    background-color: pink;
    padding: 1em;
    width: 100%;
    border-radius: 10px 100px / 120px;
 }
 .navPage a{
    color: whitesmoke;
    text-decoration: none;
 }
 .navPage a:hover{
    color: #E36588 ;
 }



